
<%- include("header") -%>
<div id="heading" class="box">
    <h1>This is the about page</h1>
</div>
<div class="box">
    <p>This is a simple to-do list app created with node.js, express, and ejs.</p>
</div>
<%- include("footer") -%>